.main-container {
  box-sizing: border-box;
  margin: 1em 0.5em;
  padding: 1em;
  min-height: 350px;
  min-width: 700px;
  height: calc(100vh - 35px);
  border: 0.2em solid #092954;
  border-radius: 1em;
}
